body {
    margin: 30px;
}
.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-content: center;
}

.book-container > .book {
    text-align: center;
    line-height: 2em;
    border-radius: 10px;
    background-color: antiquewhite;

}

.book > input[type="checkbox"] {
    display: inline;
}

.book > .is-read {
    display: inline;
}

.book > button {
    display: block;
    margin: 10px auto;
}


.add-book button{
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
}